.hero-unit
  %h1 Please sign in…
  %p Jack of all Tweets requires you to sign in with your Twitter account.
  %p
    = link_to image_tag('sign-in-with-twitter-d.png', alt: 'Sign in with Twitter'), login_path
